@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Egyptian Universities Database</h1>
    <h4 style="color: #3d79d0">Made by Mazen Hesham</h4>
    <h6 style="color: #bc2c2c">ITI 41-GIS Track</h6>
</div>
