@page
@model AspPageWebApplication.Pages.Universities.DetailsModel
@{
}
<h1 style="text-align:center;">
    Welcome in Details!
</h1>

<div style="text-align:center;">
    Id: @Model.University.Id
</div>
<div style="text-align:center;">
    Name: @Model.University.Name
</div>
<div style="text-align:center;">
    Address: @Model.University.Address
</div>
@*<h3 style="text-align:center;">Assigned Students</h3>*@





<div style="text-align:center;">
<a asp-page="./List">Back to Universities list</a>
</div>

