@page
@model AspPageWebApplication.Pages.Universities.NoStudentsModel
@{
}
<h1 style="text-align:center">
    There are no assigned students yet!
</h1>

<td>
    <a asp-page="./Edit" class="btn btn-dark">Add University</a>
</td>